body {
/*	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px;

	position: static;
	width: 1282px;
	height: 1489px;
	left: 0px;*/
	/*top: 30px;*/
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.22) 7.62%, rgba(0, 225, 198, 0.2) 25.5%, #FFFFFF 70.92%);

}

.vector1{
	position: absolute;
	width: 326.46px;
	left: -39.61px;
	top: 17.73%;
	bottom: -73238.8%;
	z-index: -1;
	transform: rotate(0deg);
}

.vector2{
	position: absolute;
height: 475.1px;
left: 81.98%;
right: -53.86%;
top: 466px;
z-index: -1;


}

.vector3{
position: absolute;
width: 498px;
height: 497px;
left: 1063.5px;
top: 1700px;
}

.vector4{
position: absolute;
width: 398px;
height: 497px;
left: -10px;
top: 2050px;
}

.logo {
	position: static;
	width: 186px;
	height: 58px;
	left: 10px;
	top: 10px;
	margin: 40px	

}

.navbar-collapse{


}



#typography{
	padding-top: 100px;
	text-align: center;
}

#header{
	
	font-weight: 900;
	font-size: 72px;
	line-height: 78px;
	letter-spacing: 0.2px;
	color: #112D57;
}

#text{
	font-weight: 450;
	font-size: 24px;
	line-height: 38px;
	letter-spacing: 0.2px;
	padding-top: 30px;
	color: #5C5C5C;
}


.navbar-nav{
	margin-left: 12%;
	font-size: 20px;
}

.nav1{
	margin-left: 15%;
}


.banner-content {
    width: 50%;
        text-align: center;
}

.btn-get-started {
	background: #00B6F0;
	border: 2px solid #fff;
 	box-sizing: border-box;
	border-radius: 85px;
	box-shadow: 1px 1px 8px #888888;
}

.btn-try-free {
	background: #fff;
	border: 2px solid #fff;
 	box-sizing: border-box;
	border-radius: 85px;
	box-shadow: 1px 1px 8px #888888;
	color: black;
}

.banner1{
	width: 50%;
        text-align: center;
        margin-top: 40px;
}

.text1{
	 
        color: #F3CD03;
        margin-bottom: 10px;
}

.text2{
	font-size: 56px;
	 margin-bottom: 10px;
}

.text3{
	font-size: 24px;
	 margin-bottom: 10px;
}

.box{
	padding: 100px;
}

.text4{
	font-size: 36px;
}

.text5{
	font-size: 24px;
	padding-top: 20px;

}

.box{
	width: 50%;
	padding-top: 120px;
        text-align: center;
}


.process{
	width: 75%;
	 text-align: center;

}

.txt{
	width: 75%;
	text-align: center;

.digit{
	text-align: right;
}

