	body {
		background: linear-gradient(180deg, rgba(255, 255, 255, 0.22) 2.62%, rgba(0, 225, 198, 0.3) 10.5%, #FFFFFF 17.92%);
		font-family: 'Quicksand', sans-serif;
		font-weight: 300;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 500;
	}

	.padd-top{
		padding-top: 50px;
	}

	.padd-bottom{
		padding-top: 20px; 
		padding-bottom: 30px;
	}

	.align-center{
		text-align: center;
	}

	.align-left{
		text-align: left;
	}

	.navbar-brand{
		text-align: left;
	}

	.learn-padd{
		padding-bottom: 20px;
	}

	.txt-size1{
		font-size: 4.4vw;
	}

	.bold{
		font-weight: bold;
	}

	/*COLORS*/

	.dark-blue{
		color: #112D57;
	}

	.black{
		color: black;
	}



	/*CONTAINERS*/

	.container{
		text-align: center;
	}

	.container-dark{
		background: #182333;
		width: 100%;
		z-index: -5;
	}

	.textbox{
		padding: 10% 10% 0% 10%; 
		text-align: left;
		width: 95%;
	}

	.grad{
		background: linear-gradient(180deg,  rgba(0, 225, 198, 0.1) 50.5%, #FFFFFF 70.92%);
	}

	.header-box{
		padding-top: 150px;
	}

	.testimonial-container{
		padding-top: 200px;
		padding-bottom: 80px;
	}




	/*NAVBAR*/

	.navbar-container{
		padding-top: 20px;
		padding-bottom: 70px;
	}

	.nav-item {
		padding-left: 20px;
		padding-right: 20px;
	}

	.navbar-top{
		top:20px;
		font-weight: bold;
		padding: 0rem 0rem;
	}

	.navbar-light .navbar-toggler-icon {
		background-image: url('Components/nav-expand.png')!important;
		height: 20px;
	}

	.navbar-light .navbar-toggler {
		border: none;
	}

	.navbar-toggler:focus {
		outline: none;
	}





	/*VECTORS*/

	.vectors{
		width: 100%;
	}

	.vector1{
		position: absolute;
		width: 326.46px;
		left: 0px;
		height: 770px;
		top: 226px;
		z-index: -1;
	}

	.vector2{
		position: absolute;
		height: 475.1px;
		right: 0px;
		top: 556px;
		z-index: -1;
	}

	.vector3{
		position: absolute;
		width: 24%;
		right: 0px;
		top: 2150px;
	}

	.vector4{
		position: absolute;
		width: 25%;
		left: 0px;
		top: 2850px;
		z-index: -1;
	}

	.vector6{
		position: absolute;
		width: 92.35px;
		height: 86.48px;
		left: 11%;
		top: 4400px;
		transform: rotate(-10deg);
		z-index: -1;
	}

	.vector7{
		position: absolute;
		right: 0px;
		top: 4620px;
		z-index: -1;
	}





	/*TEXTS*/

	.text1{
		color: #F3CD03;
		margin-bottom: 30px;
		font-size: 2.5vw;
		line-height: 42px;
	}

	.text2{
		margin-bottom: 30px;
		font-weight: 900;
		font-size: 4.8vw;
		line-height: 78px;
	}

	.text-header{
		margin-bottom: 50px;
		font-weight: 900;
		font-size: 75px;
		line-height: 78px;
	}


	.text3{
		font-size: 1.9vw;
		margin-bottom: 10px;
		color: #5C5C5C;
		letter-spacing: 0.2px;
	}


	.text4{
		font-size: 4vw;
		line-height: 42px;
	}

	.banner2{
		font-size: 1.4vw;		
		padding-top: 20px;		
		line-height: 38px;
		letter-spacing: 0.2px;
		color: #5C5C5C;
	}

	.text6{
		padding-bottom: 70px;
		font-size: 3vw;
	}

	.text7{
		font-size: 1.4vw;
		padding-top: 20px;
		letter-spacing: 0.2px;
		color: #5C5C5C;
		padding-bottom: 30px;

	}

	.text8{
		padding-top: 20px;
	}

	.text9{
		font-size: 18px;
		padding-top: 20px;
		padding-left: 10px;
		letter-spacing: 0.2px;
		color: #5C5C5C;
		line-height: 25px;
	}

	.digit{
		text-align: right;
	}

	.white-text{
		color: white;
	}

	.doller{
		font-size: 61px;
		font-weight: bold;
		color: gold;
		padding-top: 15px;
		margin-top: -6px;
		display: contents;
	}

	.pricing-amount{
		display: contents;
	}

	.pricing-label {
		margin-top: -14px;
		padding-left: 10px;
	}

	.doller-txt{
		font-size: 20px;
		padding-bottom: 40px;

	}

	.text-logo{
		font-size: 16px;
		letter-spacing: 0.2px;
		color: #5C5C5C;
	}



	.text-detail-header{
		font-size:3vw;
		line-height: 42px;
		padding-bottom: 30px;
	}

	.text-header{
		font-size: 6vw;
	}



	/*BUTTONS*/
	.btn-login {
		background: #fff;
		border: 1px solid #00B6F0;
		box-sizing: border-box;
		border-radius: 85px;
		color: #00B6F0;
		padding: 15px 55px 15px 55px;
		margin-left: 70px;
		font-weight: bold;
	}

	.btn-try {
		background: #fff;
		border: 0px solid #fff;
		box-sizing: border-box;
		border-radius: 85px;
		color: black;
		padding: 15px 55px 15px 55px;
		font-weight: bold;
	}

	.btn-main {
		background: #00B6F0;
		border: 0px solid #fff;
		box-sizing: border-box;
		border-radius: 85px;
		padding: 15px 55px 15px 55px;
		font-weight: bold;
	}

	.btn-blue {
		background: #00B6F0;
		border: 0px solid #fff;
		box-sizing: border-box;
		border-radius: 85px;
		padding: 15px 55px 15px 55px;
		font-weight: bold;
	}

	.btn-white {
		background: #fff;
		border: 1px solid #00B6F0;
		box-sizing: border-box;
		border-radius: 85px;
		color: #00B6F0;
		padding: 15px 55px 15px 55px;
		font-weight: bold;
	}

	.btn-gap{
		margin-left: 5px;
		margin-right: 5px;
	}

	.btn-margin-top{
		margin-top: 50px;
	}

	.btn-margin-top2{
		margin-top: 20px;
	}

	.btn-margin-bottom{
		margin-bottom: 50px;
	}

	.learn{
		font-size: 18px;
		line-height: 20px;
		letter-spacing: 0.2px;
		color: #00B6F0;		
	}

	.btn-textbox{
		background: #00B6F0;
		border: 1px solid #fff;
		box-sizing: border-box;
		border-radius: 85px;
		padding: 15px 55px 15px 55px;
		font-weight: bold;
		margin-bottom: 120px;
		margin-top: 60px;
	}

	.btn-outline-info:hover{
		background-color: #00B6F0;
	}
	





	/*JUMBOTRON	*/

	.jumbotron{
		background: none;
		padding-top: 200px;
	}


	/*BANNERS*/
	.banner1{
		text-align: center;
		margin-top: 80px;
		margin-bottom: 20px;
	}

	.banner2{
		text-align: center;
		margin-top: 140px;
		width: 85%
	}

	.progress-container{
		width: 60%;
		padding-top: 50px;
	}

	.progress-text{
		width: 60%;
		font-size: 1.5vw;
	}


	.progress{
		border-radius: 9.5px;
	}

	.progress-bar{
		background-color:#00B6F0;
		border-radius: 9.5px;
	}






	/*DETAILS SECTOR*/

	.details-sec-container{
		padding-top: 170px;	
	}

	.details-sec1-lg{
		text-align: left;
		padding-bottom:170px;
	}

	.details-sec-1-text{
		padding: 5%
	}

	.details-sec-2-text{
		padding-top: 5%
	}

	.images{
		width: 100%;
	}

	.card2{
		background: #182333;
	}


	/*TESTIMONIALS*/

	.userimg{
		height: 80px;
		padding-left: 25px;
		padding-top: 25px;
	}

	.ibm{
		padding-top: 10px;
		padding-bottom: 60px;
	}

	.user-detail{
		background-color: transparent;
	}


	/*DARK SECTION*/

	.dark{
		text-align: left;
		padding: 100px;
	}

	.Pricing{
		padding: 0% 0% 8% 0%;
	}

	.price-img{
		width: 50%;
	}

	.pr-txt{
		font-size: 1.5vw;
	}


	/*BOTTOM NAV*/
	.social{
		padding-left: 40px;
	}

	.bottom-navi-sml{
		text-align: center;
	}

	.bottom-navi-lrg {
		padding-bottom: 50px;
	}





/*MEDIA*/
@media screen and (max-width: 576px) {

	body{
		background: linear-gradient(180deg, rgba(255, 255, 255, 0.22) 2.02%, rgba(0, 225, 198, 0.3) 6.5%, #FFFFFF 15.92%);
	}

	.screen{
		padding-top: 10px;
	}

	.lg-paragraph{
		display: none;
	}

	.lg-text1{
		display: none;
	}

	.text1{
		font-size: 6vw;
		margin-bottom: 0px;
	}

	.vector1{
		position: absolute;
		width: 126.46px;
		left: 0px;
		height: 470px;
		top: 156px;
		z-index: -1;
	}

	.vector2{
		position: absolute;
		height: 270px;
		width: 66.46px;
		right: 0px;
		top: 396px;
		z-index: -5;
	}

	.vector4-sm{
		position: absolute;
		width: 186.46px;
		left: 0px;
		height: 470px;
		top: 1130px;
		z-index: -1;
	}

	.vector3-sm{
		position: absolute;
		width: 106.46px;
		right: 0px;
		height: 270px;
		top: 1800px;
		z-index: -1;
	}

	.vector3{
		display: none;
	}

	.vector4{
		display: none;
	}

	.vector6{
		position: absolute;
		width: 92.35px;
		height: 86.48px;
		left: -40px;
		top: 3000px;
		transform: rotate(90deg);
		z-index: -1;
	}

	.vector7{
		display: none;
	}

	.vector7-sm{
		position: absolute;
		width: 200px;
		right: 0px;
		top: 3300px;
		z-index: -1;
	}

	.bottom-navi-lrg {
		display: none;
	}

	.order-two{
		order: 2;
	}

	.order-one{
		order: 1;
	}

	.logo{
		height: 40px;
		width: 120px;
	}

	.btn-login{
		padding: 15px 50px 15px 50px;
		margin-left: 0px;
		margin-right: 0px;
		font-size: 12px;
		border-radius: 85px;
	}

	.container-dark{
		text-align: center;
		width: 100%;
		padding-bottom: 30px;
		padding-top:30px;
	}

	.banner1{		
		text-align: center;
		margin-top: 90px;
		margin-bottom: 20px;
	}

	.details-sec1-lg{
		display: none;
	}

	.btn-margin-top{
		margin-top: 10px;
	}

	.padd-top{
		padding-top: 30px;
	}

	.text2{
		font-weight: 900;
		font-size: 35px;
		line-height: 48px;
		margin-bottom: 10px;
	}

	.text-header{
		font-weight: 900;
		font-size: 40px;
		line-height: 48px;
		margin-bottom: 30px;
	}

	.text9{
		padding-left: 0px;
	}

	.text3{
		font-size: 15px;
		letter-spacing: 0.2px;

	}

	.header-box{
		padding-top: 100px;
	}

	.btn-main {
		padding: 9px 35px 9px 35px;
		font-size: 12px;
	}

	.btn-blue {
		padding: 10px 80px 10px 80px;
		font-size: 12px;
	}

	.btn-white {
		padding: 10px 58px 10px 58px;
		font-size: 12px;
	}

	.btn-try {
		padding: 9px 35px 9px 35px;
		font-size: 12px;
	}

	.details-sec-container{
		padding-top: 70px;
		text-align: center;
	}

	.details-sec2{
		padding-top: 70px;
	}

	.learn{
		font-size: 13px;	
	}


	.text4{
		font-size: 6vw;

	}

	.text3{
		line-height: 27px;
		font-size: 4vw;
	}

	.banner2{
		margin-top: 80px;
	}

	.progress-container{
		width: 80%;
		padding-top: 20px;
	}

	.progress-text{
		width: 80%;
		font-size: 2.5vw;
	}

	.text5{
		font-size: 3vw;
		line-height: 20px; 
	}

	.text6{
		font-size: 30px;
		padding-bottom: 40px;
	}

	.txt-size1{
		font-size: 10.4vw;
		font-weight: bold;
	}


	.testimonial-container{
		padding-top: 150px;
		padding-bottom: 80px;
	}

	.ibm{
		padding-bottom: 30px;
		width: 100px;
	}

	.par{
		margin: 20px;
	}

	.userimg{
		height: 60px;
		padding-left: 0px;
	}

	.usr-txtbox{
		text-align: center;
	}

	.user-title{
		font-size: 10px;
	}

	.user-text{
		font-size: 10px; 
	}

	.textbox{
		text-align: center;
	}

	.social{
		padding-left: 10px;
		padding-bottom: 20px;
		padding-top: 50px;
		width: 30px;
	}

	.dark{
		text-align: center;
		padding: 30px;
	}

	.pricing-amount-sec{
		padding-bottom: 30px;

	}

	.Pricing{
		padding-bottom: 40px;
	}

	.price-img{
		width: 50%;
	}

	.pr-txt{
		font-size: 16px;
	}

	.doller{
		font-size: 51px;
		font-weight: bold;
		margin-top: -15px;
	}

	.pricing-amount {
		display: block;
	}

	.pricing-label {
		margin-top: -4px;
		padding-left: 5px;
	}

	.doller-txt{
		font-size: 20px;
	}

	.btn-textbox{
		margin-bottom: 120px;
		margin-top: 30px;
		font-size: 12px;
	}

	.navbar-container{
		padding: 15px 10px 0px 25px;
	}

	.free{
		padding: 10px 30px 10px 30px;
	}

	.btn-testimonials{
		padding: 9px 40px 9px 40px;
	}

	.align-center{
		text-align: center;
	}

	.sm-text1{
		padding-bottom: 20px;
		font-size: 16px;
	}

	.details-sec1-sm{
		padding-bottom: 70px;
	}

	.txt-size1{
		font-size:40px;
		padding-bottom: 0px;
	}

	.padd-bottom{
		padding-top: 10px; 
		padding-bottom: 30px;
	}

	.btn-margin-top2{
		margin-top: 0px;
	}
}




@media screen and (min-width: 576px) {


	.vector4-sm{
		display: none;
	}

	.vector3-sm{
		display: none;
	}

	.vector7-sm{
		display: none;
	}

	.bottom-navi-sml {
		display: none;
	}

	.text4{
		line-height: 60px;
	}

	.sm-paragraph{
		display: none;
	}

	.sm-text1{
		display: none;
	}

	.details-sec1-sm{
		display: none;
	}

	.lrg-login{

		background: #fff;
		border: 1px solid #00B6F0;
		box-sizing: border-box;
		border-radius: 85px;
		color: #00B6F0;
		padding: 15px 55px 15px 55px;
		margin-left: 70px;
		font-weight: bold;
	}
}

/*TAB SIZE*/
@media screen and (max-width: 992px){

	.lrg-login{
		display: none;
	}

	.sml-login{
		padding: 8px 30px 8px 30px;
		margin-left: auto;
		margin-right: 3%;	
		font-weight: bold;
		color: #00B6F0;
		border-color: #00B6F0;
	}
}

@media screen and (min-width: 992px){

	.sml-login {
		display: none;
	}
}

@media screen and (max-width: 1103px){

	.vector7{
		display: none;
	}
}

