body {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px;

	position: static;
	width: 1282px;
	height: 1489px;
	left: 0px;
	top: 30px;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.22) 7.62%, rgba(0, 225, 198, 0.2) 25.5%, #FFFFFF 70.92%);
}

.vector1{
	position: absolute;
	width: 326.46px;
	left: -39.61px;
	top: 17.73%;
	bottom: -73238.8%;
	z-index: -1;
	transform: rotate(0deg);
}

.vector2{
	position: absolute;
height: 475.1px;
left: 81.98%;
right: -53.86%;
top: 466px;
z-index: -1;


}

.vector3{
position: absolute;
width: 498px;
height: 497px;
left: 1063.5px;
top: 1700px;
}

.vector4{
position: absolute;
width: 398px;
height: 497px;
left: -10px;
top: 2050px;
}

.vector6{
	position: absolute;
width: 92.35px;
height: 86.48px;
left: 140px;
top: 3900px;
transform: rotate(-10deg);
}